.font-set{
	font-family: 'Jost',sans-serif;
}

.class-img{
    min-height: 407.99px;
    min-width: 100%;
}
.class-container{
    min-height: 500px;
}
.page-content{
    position: relative;
    overflow: hidden;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.class-row{
	display: flex;
	flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
    padding: 30px;
}




/* class-list */
.on{
	text-decoration: underline;	
}


.class-container pre{
	white-space: pre-wrap;
}

/* 이미지 div안에 맞춰 넣는 css*/
.product-title{
    text-align:center;
    display:table;
    border:1px solid #cecece;
    width: 860px;
    height: 1200px;
}
.product-img-div{
    display:table-cell;
    vertical-align:middle;
}
.product-img{
    min-width: 100%;
    max-height: 600px;
}




/* 프로필 이미지 div안에 맞춰 넣는 css*/
.profil-title{
    text-align:center;
    display:flex;
    justify-content: flex-start;
    border:1px solid #cecece;
}
.profil-info-div{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*댓글 프로필 이미지*/
.profile-box {
	margin-top: 10px;
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*스크롤 박스*/
.scroll-select-box{
	width: 870px;
    height: 60px;
    line-height: 60px;
	display: flex;
	justify-content: space-between;
    background-color: #fff;
    z-index: 50;
}
.scroll-select-box>span{
	display: inline-block;
	width: 95px;
    text-align: center;
}
.scroll-select-box>span:hover{
	cursor: pointer;
}
.scroll-select-box-fixed{
    position: fixed;
    top: 80px;
}


/* team */
.class-item{
    height: 482.16px;
    width: 407.99px;
}
.class-item>img{
    object-fit: cover;
}


/* The sidebar menu */
.sidenav {
    display: none;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 155px;
    right: 95px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 5px;
    text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    visibility: visible !important;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}
.sidenav a:hover {
    color: #064579;
}
.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.side-info-box>ul{
    list-style-type: none;
	width: 80%;
	margin: 10px auto;

}
.side-teacher-box{
	width: 90%;
	text-align: right;
}
.class-info-box>ul>li{
	text-align: center;
	margin-bottom: 5px;
}
.side-select-box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.side-title-box{
    color: #0f4229;
}
.amount-box{
	display: flex;
	justify-content: space-between;
}
.amount-box>span{
	display: inline-block;
	width: 50%;
	height: 58px;
	line-height: 58px;
}

#total-star{
    font-size: 20px;
    line-height: 58px;
}



/* confirm 모달 */
.confirm-modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.21);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 99;
    align-items: center;
}
.confirm-modal{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 30vw;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.confirmModalContent{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	margin: 20px auto;
	z-index: 1;
}
.confirmModalContent::after{
	background-image: url("/resources/MAINbtstr/img/로고4.png");
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	content: "";
	z-index: -1;
}


/*리뷰모달*/
.rmodal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.21);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 99;
    align-items: center;
}
.modal-review{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 90vw;
    height: 480px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.modal-review>div{
	width: 50%;
}
.modal-review-info{
	width: 80%;
	height: 90%;
}
.modal-top h1{
    text-align: center;
    margin: 30px auto;
    font-size: 24px;
    line-height: 24px;
}
#star-box{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#star-box>span{
    font-size: 60px;
    color: lightgray;
}
.comment-box>div{
    margin-top: 10px;
}
.comment-box>div:first-child{
    visibility: hidden;
}
#review-textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    font-size: 16px;
    resize: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
.modal-btn-box{
    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}




/* 리뷰 div */
#reviewBox{
	width: 860px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.reviewDiv{
	width: 47%;
	padding: 4%;
}


/*리뷰 이미지*/
.memberBox {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
.profile-box {
	margin-right: 10%;
   width: 50px;
   height: 50px;
   border-radius: 70%;
   overflow: hidden;
   background-color: #eee;
   margin-bottom: 5%;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}