@charset "UTF-8";
 
.duration-300 {
    transition-duration: .3s;
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(13 17 23/var(--tw-text-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.border-zinc-200 {
    --tw-border-opacity: 1;
    border-color: rgb(228 228 231/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-sm {
    border-radius: 0.125rem;
}
.border-zinc-200 {
    --tw-border-opacity: 1;
    border-color: rgb(228 228 231/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-sm {
    border-radius: 0.125rem;
}
.hover\:shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.hover\:shadow-md:hover>.font-image-preview {
   --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.group:hover .group-hover-noon-background {
    --tw-bg-opacity: 1;
    background-color:#ffc107;
    color:#fff;
}
.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}
