<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null값이 발생하면 빈칸("")이 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		 <typeAlias type="kr.or.product.model.vo.Product" alias="p"/>
		 <typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		 <typeAlias type="kr.or.product.model.vo.ProductFileVO" alias="pf"/>
		 <typeAlias type="kr.or.product.model.vo.ProductReview" alias="pr"/>
		 <typeAlias type="kr.or.club.model.vo.Club" alias="c"/>
		 <typeAlias type="kr.or.club.model.vo.ChatRecord" alias="cr"/>
		 <typeAlias type="kr.or.club.model.vo.ClubBoard" alias="cb"/>
		 <typeAlias type="kr.or.club.model.vo.ClubBoardComment" alias="cbc"/>
		 <typeAlias type="kr.or.order.model.vo.Order" alias="Or"/>
		 <typeAlias type="kr.or.order.model.vo.OrderDetail" alias="Ord"/>
		 <typeAlias type="kr.or.cart.model.vo.Cart" alias="Ca"/>

		 <typeAlias type="kr.or.board.model.vo.Board" alias="b"/>
		 <typeAlias type="kr.or.board.model.vo.BoardComment" alias="bc"/>
		 <typeAlias type="kr.or.board.model.vo.FileVO" alias="bf"/>
		
		 
		 <typeAlias type="kr.or.nsClass.model.vo.NsClass" alias="cla"/>
		 <typeAlias type="kr.or.nsClass.model.vo.FileVo" alias="claF"/>
		 <typeAlias type="kr.or.nsClass.model.vo.ClassCategory" alias="claCate"/>
		 
		  <typeAlias type="kr.or.activity.model.vo.Activity" alias="act"/>
		  <typeAlias type="kr.or.activity.model.vo.FileVo" alias="actF"/>
	</typeAliases>
</configuration>
