@charset "UTF-8";
.productBuyQty{
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    bottom: 3px;
}


.reviewsWrap{
    width: 1200px;
    margin: 10px 0px;
}
.reviewsContent{
    overflow: hidden;
    height: 100px;
}
.reviewsContent>div{
    float: left;
}

.reviewsTextArea>textarea{
    width: 700px;
    height: 100px;
    outline: none;
    resize: none;
}
.reviewsBtnBox{
    width: 50px;
    display: flex;
    flex-direction: column;
}
.reviewsBtnBox>a{
    height: 50px;
    width: 80px;
    line-height: 50px;
    border-radius: 5px;
    color: black;
    margin-left: 10px;
}
.reviewsBtnBox>button{
    height: 50px;
    width: 80px;
    line-height: 50px;
    border-radius: 5px;
    color: black;
    margin-left: 10px;
    border: 1px solid rgba(1,1,1,0.3);
    background-color: white;
}
.reviewsBtnBox>button:hover{
    color: white;
    background-color: #037ef3;
}
.reviewsBtnBox>a:hover{
    color: white;
    background-color: #037ef3;
}
.reviewsId{
    width: 200px;
    position: relative;
    top: 25px;
    padding-right: 10px;
}

.reviewsId>h6{
    height: 50px;
    line-height: 50px;
    margin: 0;
    border-right: 1px solid black;
}
.reviewsScore{
    position: relative;
    left: 55px;
    top: 25px;
}
.reviewStar-wrap>span{
	float:left;
    font-size: 30px;
    color: lightgray;
}
.input-score{
	position: relative;
    top: 20px;
}
.reviewsId>p{
	position: relative;
    bottom: 30px;
    margin: 0;
}

#productContentArea{
	resize: none;
    border: 1px solid rgba(1,1,1,0.1);
    width: 1200px;
    line-height: 20px;
    height: 300px;
    outline: none;
}
.productReviewDiv{
	width: 1200px;
}
