
.productFrmContent{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.productFrmTable{
    margin: 0 auto;
    width: 1000px;
}
.productFrmTable>tr>th{
    width: 30%;
}
.productFrmTable>tr>td{
    width: 70%;
    
}
.productFrmTable tr td input{
    width: 100%;
    height: 45px;
}
.productFrmTable tr th{
    border: 1px solid black;
    height: 50px;
}
.productFrmTable tr td{
    border: 1px solid black;
}
.productFrmTable tr td textarea{
    width: 100%;
    height: 100%;
    height: 500px;
    resize: none;
}
#productFirstImg{
    line-height: 40px;
}
#insertBtn{
    width: 50%;
}

.col-md-10>input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background: rgb(77,77,77);
    color: #fff;
  }
}