@charset "UTF-8";
.detail {
	display: inline-block;
	cursor: pointer;
}
.wra_title{
	text-align: center;
	font-size: 2em; 
	
}
.popup {
	display: none;
	width: 90%;
	height: 80vh;
	position: fixed;
	top: 51%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff;
	box-shadow: 10px 10px 10px rgb(0 0 0/ 20%);
	color: #424242;
	padding: 6% 5%;
	font-size: 12px;
	line-height: 1.5rem;
	border-radius: 15px;
	z-index: 99999;
	overflow-y: scroll;
	line-height: 1.5rem;
}

.zwicon-close {
	color: rgb(255, 255, 255);
	font-size: 2em;
	background-color: #b91a1a;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 70%;
}

.x_btn {
	text-align: right;
	margin: 15px;
	cursor: pointer;
}

.zwicon-close:hover {
	background-color: red;
}

.cont {
	font-family: 'GmarketSansMedium';
	text-align: left;
}

.personal_pop {
	z-index: 300;
}

.joinbox {
	display: flex;
	justify-content: center;
	padding: 5% 0;
}

.sp {
	display: inline-block;
	width: 160px;
	font-size: 1.5em;
	font-family: 'GmarketSansMedium';
}

.inbtn {
	width: 500px;
	margin-bottom: 30px;
	font-size: 1.2em;
	border: 1.5px solid rgb(176, 174, 174);
	height: 60px;
    border-radius: 5px;
     font-family: 'GmarketSansMedium';
}

.red {
	color: #dc3545;
	font-size: 0.7em;
	vertical-align: top;
}

[type=checkbox] {
	width: 20px;
	height: 20px;
}

.fs {
	font-size: 1.4em;
	margin-top: 15px;
	margin-right: 20px;
	  font-family: 'GmarketSansMedium';
}

#memberJoin {
	width: 500px;
	height: 60px;
	color: #dc3545;
	background-color: #fff;
	border: 1px solid #dc3545;
}

#memberJoin:hover {
	color: #fff;
	background-color: #dc3545;
}

.wra {
	width: 800px;
	padding: 10px;
	margin: 10px auto;
	background: #FFFFFF;
}
.wra0{
	margin: 100px;
}

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//얇음
			@font-face {
			    font-family: 'LeferiPoint-WhiteObliqueA';
			    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;
			}
			//두껍
			@font-face {
			    font-family: 'GangwonEduPowerExtraBoldA';
			    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;
			}
			//물많이
			@font-face {
		    font-family: 'OKCHAN';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKCHAN.woff2') format('woff2');
		    font-weight: normal;
		    font-style: normal;
			}
			
			@font-face {
			    font-family: 'KOHIBaeumOTF';
			    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;
			}
			@font-face {
			    font-family: 'SANJUGotgam';
			    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;
			}
			@font-face {
		    font-family: 'GmarketSansMedium';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}