@charset "UTF-8";
.detail {
	display: inline-block;
	cursor: pointer;
}
.wra_title{
	text-align: center;
	font-size: 2em; 
}
.popup {
	display: none;
	width: 90%;
	height: 80vh;
	position: fixed;
	top: 51%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff;
	box-shadow: 10px 10px 10px rgb(0 0 0/ 20%);
	color: #424242;
	padding: 6% 5%;
	font-size: 12px;
	line-height: 1.5rem;
	border-radius: 15px;
	z-index: 99999;
	overflow-y: scroll;
	line-height: 1.5rem;
}

.zwicon-close {
	color: rgb(255, 255, 255);
	font-size: 2em;
	background-color: #b91a1a;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 70%;
}

.x_btn {
	text-align: right;
	margin: 15px;
	cursor: pointer;
}

.zwicon-close:hover {
	background-color: red;
}

.cont {
	text-align: left;
}

.personal_pop {
	z-index: 300;
}

.joinbox {
	display: flex;
	justify-content: center;
	padding: 5% 0;
}

.sp {
	display: inline-block;
	width: 160px;
	font-size: 1.5em;
}

.inbtn {
	width: 480px;
	height: 60px;
	margin-bottom: 30px;
	font-size: 1.2em;
	border-radius: 5px;
	border: 1.5px solid rgb(176, 174, 174);
}

.red {
	color: #dc3545;
	font-size: 0.7em;
	vertical-align: top;
}

[type=checkbox] {
	width: 20px;
	height: 20px;
}

.fs {
	font-size: 1.4em;
	margin-top: 15px;
}

#memberJoin {
	width: 480px;
	height: 60px;
	color: #dc3545;
	background-color: #fff;
	border: 1px solid #dc3545;
}

#memberJoin:hover {
	color: #fff;
	background-color: #dc3545;
}

.wra {
	width: 800px;
	padding: 10px;
	margin: 0 auto;
	background: #FFFFFF;
}