@charset "UTF-8";

.boardUpdateWrap{
	width:100%;
}
.boardUpdateWrap .boardUpdateTbl{
		width:70%;
		margin:0 auto;
		border-collapse: collapse;
		
	}
.boardUpdateTbl{
	border: 2px solid #0F4229;
}
.boardUpdateTbl th{
	text-align: center;
	align-items: center;
	vertical-align: middle;
	border : #0F4229;

}

.boardUpdateTbl select{
	width:100px;
	outline:none;
	
}
.boardUpdateTbl input{
	width:100%;
	outline:none;
}

.boardUpdateTbl input[type=file]::file-selector-button{
		width : 100px;
		height : 30px;
		color:white;
		background-color:#0F4229;
		border-radius : 15px;
		border : none;
		cursor:pointer;
}

.boardUpdateTbl p{
	position: relative;
	display: flex;
	align-items: center;
}
.boardUpdateTbl p>span{
	cursor: pointer;
	color:#348E38;
}

.fileDeleteBtn{
		width : 60px;
		height : 30px;
		color:#0F4229;
		background-color:#E8F5E9;
		border-radius : 15px;
		border : none;
		cursor:pointer;

}


.boardUpdateWrap .boardUpdateBtnBox{
	width:70%;
	margin:0 auto;
	display:flex;
	justify-content:center;
	text-align: center;
}
.boardUpdateBtnBox .boardUpdateBtn{
		width : 300px;
		height : 50px;
		margin-top : 30px;
		background-color:#0F4229;
		border-radius : 15px;
		border : none;
		color:white;
			font-weight: 900;
		font-size : 20px;
}
