/* 고정하는 class */
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-space-around{
	display: flex;
	justify-content: space-around;
}
*{
	font-family: sans-serif;
}

/*----------------- club-list -----------------*/
/*인기동호회*/
.popular-box{
	width: 90%;
	margin: 0 auto;
}

/* 클럽 검색 박스 */
.club-input{
	display: flex;
	width: 50%;
	height: 38px;
	justify-content: space-between;
}
.club-input>input{
	width: 80%;
}
.club-input>button{
	width: 17%;
}

/* 클럽 리스트 */
.club-list{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.lists{
	border: 1px solid #bbb;
	margin: 20px;
	width: 30.5%;
}
.lists:nth-of-type(3n){
	margin-left: 0;
}
.lists *{
	text-align: center;
}
#club-input{
	border-radius: 15px;
}
#club-input:focus{
	outline: none;
}
.clubs{
	width: 400px; text-align: center; margin-bottom: 20px; border: 1px solid #eee; float: left;
}




/*마이리스트*/
.popular-list{
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	flex: auto;
	position: relative;
	height: 400px;
}
.popular-list>div{
	flex-shrink: 0;	
	width: 33.3%;
	height: 350px;
}
.my-list-page{
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	flex: auto;
	position: relative;
	min-height: 678px;
}
.my-list-page>div{
	flex-shrink: 0;	
	width: 33.3%;
	min-height: 480px;
}
.my-list-page .card-body{
	height: 50%;
}
.goobImg{
	position: absolute;
}
.popular-list>div:first-child .goobImg{
	z-index: 3;
	top: 0;
	left: 0;
}


/* 페이징 */
.pagingBox{
	display: flex;
	justify-content: center;
}
#pagingUl{
	marging: 0 auto;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: 0;
}
#pagingUl li {
    text-align: center;
    float: left;
}

#pagingUl li a {
    display: block;
    font-size: 14px;
    padding: 9px 12px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
}

#pagingUl li.on {
    background: #eda712;
}

#pagingUl li.on a {
    color: #fff;
}




.clubIntro{
	height: 110px;
	overflow: auto;
  	text-overflow: ellipsis;
 	word-break: break-all;
 	word-wrap: break-word;
 	padding: 10px;
}
.clubIntro::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}
.clubIntro::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #0F4229; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.clubIntro::-webkit-scrollbar-track {
    background: #E8F5E9;  /*스크롤바 뒷 배경 색상*/
}


.clubIntro2{
	height: 110px;
	overflow: auto;
  	text-overflow: ellipsis;
 	word-break: break-all;
 	word-wrap: break-word;
 	padding: 10px;
}
.clubIntro2::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}
.clubIntro2::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #464758; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.clubIntro2::-webkit-scrollbar-track {
    background: #eee;  /*스크롤바 뒷 배경 색상*/
}


/* 클럽리스트 동호회 모달 */
.cookiesContainer{
	background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 320px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}
.cookiesContent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 50px;
}
.cookiesContent .close {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}
.cookiesContent img {
    width: 150px;
    margin-bottom: 15px;
}
.cookiesContent p {
    margin-bottom: 40px;
    font-size: 18px;
}
.cookiesContent .accept {
    background-color: #525368;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px #525368;
}


.card-img{
	width: 320px;
	height: 180px;

}
.card-img>img{
	object-fit: cover; 
	width: 100%;
	height: 100%;
}
/*----------------- club-detail -----------------*/
.club-container{
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	margin-bottom: 20px;
}

/* 클럽 게시판 이미지 div안에 맞춰 넣는 css*/
.ml-20{
	margin-left: 30px;
}
.clubBoardTitle{
    text-align:center;
    display:table;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}
.clubBoardImgBox{
    display:table-cell;
    vertical-align:middle;
}
.clubBoardImg{
    max-width: 400px;
    max-height: 400px;
}

.bg-img{
	background-image: url("/resources/img/은비4.jpg");
}

/* The sidebar menu */
.sidenav-right {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    text-align: center;
    visibility: visible !important;
}
.side-info-box>ul{
    list-style-type: none;
	margin: 0 auto;
    text-align: center;
    text-decoration: none;
}
.sidenav-left {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    overflow-x: hidden;
    padding: 8px 0;
    text-align: center;
    display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
    visibility: visible !important;
}
.side-box{
    margin: 0 auto;
}
.center-div{
    width: 45%;
    margin: 0 auto;
    min-height: 1200px;
}

/* absolute */
.right-absolute{
  right: 0px;
  top: 700px;
  position: absolute;
  background-color: orange;
}

/* absolute */
.left-absolute{
  left: 0px;
  top: 700px;
  position: absolute;
  background-color: orange;
}


.class-container pre{
	white-space: pre-wrap;
}







/* 클럽 이미지 div안에 맞춰 넣는 css*/
.club-title{
    text-align:center;
    display:table;
    border:1px solid #cecece;
    width: 230px;
    height: 120px;
}
.club-img-div{
    display:table-cell;
    vertical-align:middle;
}
.club-img{
    max-width: 230px;
    max-height: 120px;
}



/* 페이징 */
.pagination-my{
	widows: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.pagination-my span:hover{
	cursor: pointer;
	color: #20c997;
}

/*글쓰기 모달*/
.write-modal-wrap, .clubLeader-modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.21);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 10;
    align-items: center;
}
.modal-write{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 500px;
    height: 550px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}
.writeModalTop h1{
    text-align: center;
    margin: 30px auto;
    font-size: 24px;
    line-height: 24px;
}
.writeModalTop>div{
	width: 80%;
	text-align: right;
}
.writeModalContent{
	height: 80%;
}
.writeModalContent>form{
	height: 100%;
}
.writeModalInputBox{
	height: 80%;
}
textarea[name=clubBoardContent]{
	resize: none;
	width: 80%;
	height: 80%;
}
.writeModalButtonBox{
	margin: 0 auto;
	width: 40%;
	display: flex;
	justify-content: space-between;
}



/* 동호회 관리 모달*/
.clubLeader-modal{
    background-image: url("../img/은비5.jpg");
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 500px;
    height: 550px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}


/*댓글 프로필 이미지*/
.profile-box {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/*채팅모달*/
.modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.21);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 10;
    align-items: center;
}
.modal-chat{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 500px;
    height: 550px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}
#member-box{
    margin: 0 auto;
    width: 250px;
    overflow: hidden;
}


.messageArea::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.messageArea::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #0F4229; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.messageArea::-webkit-scrollbar-track {
    background: #E8F5E9;  /*스크롤바 뒷 배경 색상*/
}


/* 채팅창 css */
.chatting{
	width: 460px;
	display: none;
	margin: 0 auto;
}
.messageArea{
	overflow-y: auto;
	border 1px sold block;
	height: 410px;
	display:flex;
	flex-direction: column;
	padding: 10px;
}
.messageArea>p{
	text-align: center;
	width: 100%;
}
.sendBox>*{
	padding-bottom: 20px;
} 
#sendMsg{
	width: 75%;
}
#sendBtn{
	width: 20%;
}
#fileBox>input{
	width: 75%;
}
#fileBox>button{
	width: 20%;
}
.chat{
	margin-bottom: 10px;
	padding: 8px;
	border-radius: 3px;
}
.left{
	position: relative;
	max-width: 300px;
	align-self: flex-start;
	background-color: #E8F5E9;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-left:16px;
	padding:15px;
}
.left:after{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #E8F5E9;
	display: block;
	width: 0;
	z-index:1;
	left:-15px;
	top:12px;
}
.right{
	position: relative;
	max-width: 300px;
	align-self: flex-end;
	background-color: #20c997;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-right:16px;
	padding:15px;
}
.right:after{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #20c997;
	display: block;
	width: 0;
	z-index:1;
	right:-15px;
	top:12px;
}

input[name='chatFile']{
	width: 50%;
}





/* 댓글 달기 */
.inputCommentBox{
	height: 100px;
	margin-bottom: 30px;
	margin-left: 10px;
}
.inputCommentBox>form>button{
	margin-bottom: 80px;
	margin-left: 20px;
}
textarea[name=clubComContent]{
	resize: none;
	height: 90px;
	line-height: 25px;
	padding-left: 10px;
	margin: 0;
}
textarea:focus{
	outline: none;
}
.comment-btn{
	margin: 0;
	width: 14%;
	height: 90px;	
}

/* 댓글출력 */
/* 코멘트 전체 박스 */
.commentBox{
	border: 1px solid #bbb;
}
.commentBox>ul{
	padding-top: 15px;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	display : flex;
}

/* 댓글 출력 */
.comment-profil-li{
	width: 10%;
	min-height: 100px;
}
.comment-content-li{
	width: 90%
}
.comment-link{
	text-align: right;
}
.comment-link>a{
	margin-left: 10px;
}


/*대댓글달기*/
.inputRecommentBox{
	margin-top: 20px;
	display: none;
}
.inputRecommentBox>form>ul{
	list-style-type:none;
	display : flex;
	justify-content: space-between;
	margin: 0;
	padding: 10px;
}
.inputRecommentBox>form>ul>li{
	height: 90px;
}
.arrow-box{
	width: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
}
.text-box{
	width: 75%;
}
.arrow-span{
	color : #ccc;
}
.btn-box{
	width:15%;
	height: 100%;
}
.btn-box>button{
	width: 90%;
	height: 100%;
}


/*대댓글 출력*/
.recomment-profil-li{
	width: 15%
}
.recomment-content-li{
	width:75%
}
.comment-textarea{
	resize: none;
	height: 60px;
	line-height: 30px;
	width: 500px;
}


.closeBtnDiv{
	text-align: right;
	width: 98%;
	padding-top: 5px;
}
.closeBtnDiv span:hover {
	cursor: pointer;
}
